body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
  
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  .header_class{
    text-align: center;
    margin-top: 20px;
    background-color:darkgrey;
    padding: 20px;
  } 

.img_class{

    width: 200px;
    border-radius:10% 10% 10% 10%;
    
}
.right_side_content{
  margin-left:250px ;
}
.media-body{
  margin-top: 100px;
  margin-left: 30px;
}