{% extends 'project/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    
    
    <div class="content">
    <div class='container'>
        <form method="POST" enctype=multipart/form-data>
            {% csrf_token %}
            {{form|crispy}}
        
        <input type="submit" name="submit" value="submit">
        </form>
    </div>

</div>
</body>
</html>
{% endblock %}