{% extends 'project/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    
<div class="content">
    <div class='container'>
       
        <a href="#">{{app.app_name}}</a>
        <hr>
        <h3>{{app.app_name}}</h3>
        <br>
        <a href="#">{{app.app_link}}</a>
        <br>
        <img src="{{app.photo.url}}">
        <br>
        <br>
        <a href="#" class="btn btn-primary">{{app.point}} Points </a>
        <br><br>
       
    </div>
    <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{form|crispy}}
          <input type="submit" name="submit" value="submit">
      </form>
</div>

{% endblock %}