<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'project/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'project/main.css' %}">
    
    <title>{{title}}</title>
</head>
<body>

 <div class='header_class' style="margin-bottom:20px;">
    {% if user.is_superuser %}
            <h1>Hello {{user.username}} </h1>
    {% else %}
            <h1>Hello {{user.username}}</h1>
    {% endif %}
 </div>
 <div>        
    <div class="sidebar">
        <a href="{% url 'home' %}">Home</a>
        {% if user.is_superuser %}
            <a href="{% url 'addingapp' %}">apps</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            {% if user.is_authenticated %}
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'task_detail'%}">Task</a>
                <a href="{% url 'point' %}">Points</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
               <a href="{% url 'register' %}">Register</a>
               <a href="{% url 'login' %}">Login</a>
            {% endif %}
        {% endif %}  
        </div>
        <div class='right_side_content'>
            {% block content %}
            {% endblock %}
            </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>