{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container bcontent">
        {% for value  in data %}
        <div class="card" style="width: 500px;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="{{value.photo.url}}" alt="">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{value.app_name}}</h5>
                        <p class="card-text"><a href="{% url 'app-data' value.id %}">View In Details</a></p>
                        <a href="#" class="btn btn-primary">{{value.point}} Points </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        {% endfor %}
</div>
{% endblock %}