{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container bcontent">
<h4 style='margin-top:40px'>Total Earned Point By {{user.username}} user = {{points}} </h4>
        
</div>
{% endblock %}