{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container bcontent">
<h1>Task Completed By The<span style="color:green"> {{user.username}}</span></h1>
        {% for data  in tasks %}
        <div class="card" style="width: 500px;">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img class="card-img" src="{{data.screenshot.url}}" alt="">
                </div>
                <div class="col-sm-7">
                    <div class="card-body">
                        <h5 class="card-title">{{data.application.app_name}}</h5>
                        <a href="#" class="btn btn-primary">{{data.application.point}} Points </a>
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        {% endfor %}
</div>
{% endblock %}