{% extends 'project/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container bcontent">
        <div class="media" style='margin-top:20px'>
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">Username  {{ user.username }}</h2>
          <h2 class="account-heading"> UserEmail {{ user.email }}</p>
        </div>
</div>
{% endblock %}